@charset "UTF-8";
/* CSS Document */

body{
	background-color:#000000;
}

table{
	background-color:#EEEEEE;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #FF0000;
}

td{
	vertical-align:top;
	padding-bottom:10px;
}

h2{
	text-align:center;
}

a{
	text-decoration:none;
}